h1
{
  background-color: #90260F;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
    font-family: DejaVu Sans Mono;
    margin-top: auto;

}
body {
font-size: 16px;

}
p {
  font-size: 1.5em;

}
.box {
font-size: 2em;

}

 }

 .columna {
   background-color: white;
   height: 30px;
   margin-bottom: 1em;
 }

.contenedor-imagen-pequeña,
.contenedor-imagen-grande {
  background-color: #0F6990;
  width: 70%;

}
img {
  width: 100%;
}
